.catalog {
    min-height: 1300px;
    margin-top: 130px;
    padding-top: 120px;
    background: #BC1E2D;
    hr {
        margin: 0;
    }
    &__title {
        color: #FFF;
        font-size: 90px;
        font-weight: 700;
    }
    &_head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 65px 0 20px 0;
        &-title {
            color: #FFF;
            font-family: Oswald;
            font-size: 70px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        &_subhead {
            display: flex;
            align-items: center;
            &-more {
                color: #FFF;
                font-family: Inter;
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: uppercase;
            }
        }
    }
    &__content {
        margin-top: 60px;
        justify-content: center;
        align-items: center;
        justify-items: start;
        &-item {
            height: 760px;
            border: 2px solid #e8e8e8;
            overflow: hidden;
            margin-bottom: 20px;
            background-color: #fff;
            &-wrapper {
                padding: 20px;
                height: 555px;
                &-subtitle {
                    display: flex;
                    justify-content: space-between;
                    color: #000;
                    font-size: 46px;
                    font-weight: 700;
                }
                &-img {
                    width: 85%;
                    margin: 0 auto;
                }
                &-info {
                    display: flex;
                    height: 460px;
                    flex-direction: column;
                    justify-content: space-between;
                    &-weight {
                        color: #000;
                        font-size: 24px;
                        font-weight: 500;
                    }
                    &-ilprice {
                        display: flex;
                        justify-content: space-between;
                        &-cost {
                            color: #000;
                            font-size: 28px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    &__footer {
        padding: 10px;
        background-color: #FFFBF2;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        &-descr {
            height: 30px;
            &-info {
                color: #000;
                font-size: 20px;
                font-weight: 400;
            }
        }
        &-button {
            display: flex;
            width: 100%;
            height: 57px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: none;
            margin-top: 90px;
            background-color: #BC1E2D;

            color: #FFF;
            font-size: 22px;
            font-weight: 600;
            text-transform: uppercase;
            &:hover {
                background-color: #861620;
            }
            &:active {
                background-color: #29070A;
            }
        }
    }
}
.classic {
    color: #000;
    font-family: Oswald;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.catalog .btn-wrap {
    width: 100%;
}
.catalog .prev-btn-first, .next-btn-first {
    width: 132px;
    height: 81px;
    border: none;
    background-color: #EC864F;
}
.catalog .prev-btn-second, .next-btn-second {
    width: 132px;
    height: 81px;
    border: none;
    background-color: #EC864F;
}
.catalog .prev-btn-third, .next-btn-third {
    width: 132px;
    height: 81px;
    border: none;
    background-color: #EC864F;
}
.catalog .slick-slide .hot {
    width: 30px;
}