.footer {
    background: #BC1E2D;
    margin-top: 215px;
    &__inner {
        color: #fff;
        display: flex;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        @media (min-width: 768px) {
            padding: 40px 30px;
            justify-content: space-between;
            align-items: center;
        }

        @media (min-width: 1280px) {
            padding: 100px 70px;
        }

    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        @media (max-width: 450px) {
            flex-direction: column;
        }

    }

    &__item {
        margin: 0 15px 30px;

        @media (max-width: 768px) {
            min-width: 33.33%;
        }

        @media (min-width: 768px) {
            margin: 0 30px 30px;
        }
    }

    &__item-title {
        font-size: 26px;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 0.005em;
        margin-bottom: 20px;
        a {
            text-decoration: none;
            color: #fff;
        }
    }

    &__item-text {
        font-size: 20px;
        letter-spacing: 0.005em;
        margin-bottom: 12px;
        position: relative;
        width: fit-content;

        &::after {
            content: '';
            background: currentColor;
            position: absolute;
            left: 0;
            bottom: -3px;
            right: 0;
            height: 1px;
            opacity: 0;
            transform: scaleX(.5);
            transform-origin: 0 50%;
            transition: all .2s ease;
        }

        &:hover::after {
            opacity: 1;
            transform: scaleX(1);
        }

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        height: 255px;
        &_social {
            display: flex;
            flex-direction: column;
            &-image { 
                svg {
                    margin-right: 10px;
                }
            }
            &-title {
                color: #FFF;
                font-size: 26px;
                font-weight: 700;
                margin-top: -10px;
            }
            &-subtitle {
                margin-top: 70px;
                color: #FFF;
                font-size: 26px;
                font-weight: 700;
            }
            &-btn {
                display: flex;
                width: 284px;
                height: 47px;
                padding: 10px 40px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border: 1px solid #fff;
                background: none;

                color: #FFF;
                font-size: 22px;
                font-weight: 600;
                text-transform: uppercase;
                &:hover {
                    background-color: #861620;
                }
                &:active {
                    background-color: #29070A;
                }
            }
        }
        &_language {
            display: flex;
            flex-direction: column;
            &-title {
                color: #FFF;
                font-size: 26px;
                font-weight: 700;
                margin-top: -55px;
            }
            &-choice {
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
            &-doc {
                margin-top: 75px;
                color: #FFF;
                font-size: 26px;
                font-weight: 700;
            }
            &-police {
                color: #FFF;
                font-size: 18px;
                font-weight: 400;
                display: flex;
                flex-direction: column;
                a {
                    text-decoration: none;
                    color: #fff; 
                }
            }
        }



        @media (max-width: 768px) {
            padding: 30px 0 20px;
        }

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    &__info-item {
        font-weight: 400;
        font-size: 15px;
        line-height: 1.5;
        letter-spacing: 0.001em;
        margin-bottom: 20px;
    }
    &__social-link {
        display: block;
        position: relative;
        width: 42px;
        height: 42px;
        margin: 0 3px 10px;
        transition: ease scale .3s;

        &::before {
            content: '';
            display: block;
            padding-bottom: 100%;
        }

        img {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;

        }

        &:hover {
            scale: 1.1;
        }
    }

}