.gallery {
    margin-top: 120px;
    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-title {
            color: #BC1E2D;
            font-size: 90px;
            font-weight: 700;
        }
        &_subheader {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
.btn-wrap {
    width: 100%;
}

.prev-btn, .next-btn {
    width: 132px;
    height: 81px;
    border: none;
    background-color: #EC864F;
}


.slick-slide {
    img {
        width: 100%;
        
    }
}
.slick-prev, .slick-next {
    display: none !important;
}
