.header {
    position: relative;
    max-height: 130px;
    .container {
        display: flex;
        justify-content: space-between;
        min-height: 130px;
    }
    &__logo {
        display: flex;
        align-items: center;
        &-image {
            max-height: 70px;
        }
    }
    &__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 750px;
            height: 28px;
            list-style-type: none;
            font-weight: 400;
            font-size: 15px;
            &-list {
                color: #000;
                font-family: Inter;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                &:hover > ul{
                    display: initial;
                    transition: all 5s;
                    color: #BC1E2D;
                }

                a {
                    color: #000000;
                    text-decoration: none;
                    &:hover {
                        transition: all 0.5s;
                        color: #BC1E2D;     
                    }
                }
            }
        }
        &_subitem {
            padding: 0;
            list-style-type: none;
            background: #fff;
            display: none;
            text-align: left;

            &-sublist {
                width: 100%;
                margin-top: 15px;
                border-bottom: 1px solid #000;
            }
        }
    }
    &__social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 230px;
        &_item {
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            font-weight: 400;
            font-size: 15px;
            &-list {
                font-weight: 400;
                font-size: 22px;
                line-height: 28px;
                height: 28px;
                &:hover > ul{
                    display: initial;
                    transition: all 5s;
                }
                a {
                    color: #000000;
                    text-decoration: none;
                    &:hover {
                        transition: all 0.5s;
                        color: #BC1E2D;
                    }
                }
            }
        }
        &_subitem {
            padding: 0;
            list-style-type: none;
            background: #fff;
            display: none;
            text-align: left;
            &-sublist {
                width: 100%;
            }
        }
        &-btn {
            color: #FFF;
            width: 130px;
            height: 47px;
            background: #BC1E2D;
            border: none;

            font-family: Inter;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            &:hover {
                background-color: #861620;
            }
            &:active {
                background-color: #29070A;
            }
        }
    }
    ul {
        padding: 0;
    }
}