.header {
    height: 800px;
    position: relative; 
    background-color: #BC1E2D;  
    &__navbar {
        display: flex;
        justify-content: space-between;
        &_item {
            display: flex;
            justify-content: space-between;
            margin-top: 51px;
            width: 600px;
            height: 28px;
            list-style-type: none;
            font-weight: 400;
            font-size: 15px;
            &-list {
                margin-left: 21px;
                font-weight: 400;
                font-size: 15px;
                line-height: 28px;
                text-align: center;
                &:hover > ul{
                    display: initial;
                    transition: all 5s;
                }
                a {
                    color: #000000;
                    text-decoration: none;
                    &:hover {
                        transition: all 0.5s;
                        background: #000;
                        color:#fff;
                    }
                }
            }
        }
        &_subitem {
            padding: 0;
            list-style-type: none;
            background: #fff;
            display: none;
            text-align: left;
            &-sublist {
                width: 100%;
            }
        }
    }

    &__logo {
        display: flex;
        margin-top: 30px;
        &-image {
            width: 250px;
            max-height: 70px;
        }

    }

    &__social {
        margin-top: 51px;
        display: flex;
        justify-content: space-between;
        width: 230px;
        &_item {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            font-weight: 400;
            font-size: 15px;
            &-list {
                margin-left: 21px;
                font-weight: 400;
                font-size: 15px;
                line-height: 28px;
                &:hover > ul{
                    display: initial;
                    transition: all 5s;
                }
                a {
                    color: #000000;
                    text-decoration: none;
                    &:hover {
                        transition: all 0.5s;
                        background: #000;
                        color:#fff;
                    }
                }
            }
        }
        &-btn {
            margin-top: -10px;
            width: 130px;
            height: 47px;
            background: #BC1E2D;
            border: none;

            color: #FFF;
            font-size: 22px;
            font-weight: 600;
            text-transform: uppercase;
            &:hover {
                background-color: #861620;
            }
            &:active {
                background-color: #29070A;
            }
        }

        &_subitem {
            padding: 0;
            list-style-type: none;
            background: #fff;
            display: none;
            &-sublist {
                width: 100%;
            }
        }
        a {
            text-decoration: none;
            color: #000;
        }
    }
    &__descr {
        margin-top: 229px;
        width: 600px;
        &-title {
            h1 {
                color: #fff;
                font-size: 54px;
                font-weight: 900;
                width: 600px;
            }
        }
    }
    &__button {
        margin-top: 60px;
        width: 195px;
        height: 40px;
        &-btn {
            width: 195px;
            padding: 10px;
            gap: 10px;
            background: none;
            border: 1px solid;

            color: #fff;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        &:hover {
            background-color: #861620;
        }
        &:active {
            background-color: #29070A;
        }
    }
    &__image {
        margin-top: 190px;
        img {
            width: 689px;
        }
        &_button {
            width: 100%;
            &-btn {
                width: 195px;
                padding: 10px;
                gap: 10px;
                background: none;
                border: 1px solid;
    
                color: #fff;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                &:hover {
                    background-color: #861620;
                }
                &:active {
                    background-color: #29070A;
                }
            }

        }
        
    }
    &__sidebar {
        width: 100%;
        background-color: #fff;
        position: fixed;
        display: grid;
        grid-template-columns: repeat(3, 540px);
        height: 130px;
        justify-items: center;
        justify-content: center;
        z-index: 3;
    }
    &_block {
        position: relative;
        display: flex;
        justify-content: center;
    }
    &__main {
        display: grid;
        grid-template-columns: 88px 640px 665px;
    }
}

.header_text {
    display: flex;
    justify-content: center;
}

.hamburger {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    top: 20px;
    right: 30px;
    height: 21px;
    cursor: pointer;
    span {
        display: block;
        width: 30px;
        height: 3px; 
        background-color: #fff;
    }
    span.long {
        width: 36px;
    }
}
