.menu_laptop {
    position: absolute;
    padding: 78px 40px 40px 40px;
    z-index: 999;
    background-color: #BC1E2D;
    width: 768px;
    height: 1000px;
    right: -100%;
    transition: right 0.3s ease;
}
.menu_laptop.menu_active {
    right: 0;
}
.language {
    display: flex;
    justify-content: space-between;
    width: 31%;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    a {
        color: #FFF;
        text-decoration: none;
    }
}
.menu {
    height: auto;
    margin-top: 46px;
    .menu_item {
        display: flex;
        list-style-type: none;
        .menu_link {
            color: #FFF;
            text-decoration: none;
            font-family: Oswald;
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}
.menu_btn {
    margin-top: 272px;
    display: flex;
    width: 705px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid #FFF;
    background-color: #BC1E2D;
    color: #FFF;
    &:hover {
        background-color: #861620;
    }
    &:active {
        background-color: #29070A;
    }
}
.menu_social {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.menu_close {
    position: absolute;
    top: 40px;
    right: 35px;
}
.hamburger {
    display: block;
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}