.sidepanel {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    top: 188px;
    left: -35px;
    height: 687px;
    z-index: 1;
    &__divider {
        width: 3px;
        height: 200px;
        background-color: #fff;
    }
}